openapi: '3.0.1'
info:
  version: '1.0.0'
  title: Checkout.com API Reference
  x-logo:
    url: 'https://assets.checkout.com/docs/logos/logo-checkout-api-dark.svg'
    backgroundColor: '#E6E7EC'
    altText: 'Checkout.com API logo'
  contact:
    name: Checkout.com Support
    url: 'https://checkout.com'
    email: support@checkout.com
  license:
    name: Checkout.com
    url: 'https://checkout.com/api/license/'
  termsOfService: 'https://checkout.com/terms/'
  description: >
    ##  Get started

    Checkout.com provides a collection of APIs that enable you to process and manage payments. Our APIs accept and return JSON in the HTTP body, and return standard <a href="https://www.checkout.com/docs/four/resources/codes/http-response-codes">HTTP response codes</a>.

    You can consume the APIs directly using your favorite HTTP/REST library.

    We have a testing environment called sandbox, which you can <a href="https://www.checkout.com/get-test-account">sign up for</a> to test API calls without affecting live data.

    # Authentication

    When you sign up for an account, you are given a public key, and either a set of client credentials or a secret key. You authenticate with our API by following the appropriate authentication flow, using either your API keys or your client credentials.

    Unless explicitly stated, all endpoints require authentication using either your client credentials or your secret key. Public keys should only be used in JavaScript or native applications.

    - <b>Client-side authentication</b>. Use your [public key](#section/Authentication/ApiPublicKey) for client-side authentication. It only has access to a limited set of our APIs – mostly those called as part of your payment environment.

    - <b>Server-to-server authentication</b>. Use your [secret key](#section/Authentication/ApiSecretKey) or [client credentials](#section/Authentication/OAuth) for server-to-server communication. Support for API keys depends on the endpoint.

    Never share your client credentials, API keys, or access tokens. Keep them guarded and secure.

    # Changelog

      | Date       | Description of change                                                         |
      | ---------- | ----------------------------------------------------------------------------- |
      | 2022/03/02 | Adds Transfers and Balances                                                   |
      | 2022/02/23 | Adds Hosted Payments Page and Payment Links                                   |
      | 2022/02/18 | Added `Increment Payment Authorization` code samples for Java & C#            |
      | 2022/02/02 | Adds `active` property for workflows                                          |
      | 2022/01/26 | Update code samples for Java.                                                 |
      | 2022/01/25 | Update code samples for C#.                                                   |
      | 2022/01/19 | Added test a workflow endpoint.                                               |
      | 2022/01/13 | Update code samples for Node JS.                                              |
      | 2021/11/29 | Increase max length of the NAS `success_url` and `failure_url` fields of the payment request (both from 255 to 1024).|
      | 2021/11/11 | Added `3ds.challenge_indicator` to card payment requests.                     |
      | 2021/11/03 | Adds `identification` object under parent `sender` object in payment request. |
      | 2021/10/18 | Added the `marketplaces.sub-entities` object to support split payments.       |
servers:
  - url: https://api.checkout.com
    description: Live API
  - url: https://api.sandbox.checkout.com
    description: Sandbox API
tags:
  - name: Access
    description: Create an access token to begin using our APIs.
  - name: Payments
    description: Process and manage payments from a variety of sources and to various destinations all within one integration.
  - name: Payment Links
    description: Create a Payment Link to accept and process payment details.
  - name: Hosted Payments Page
    description: Create a Hosted Payments Page to accept and process payment details.
  # - name: Sources
  #   description: Create a payment source for a customer that you can use for one or more payments.
  - name: Tokens
    description: Create a token that represents a card's details that you can later use to request a payment, without you having to process or store any sensitive information.
  - name: Instruments
    description: Create and manage your card and bank account payment instruments.
  - name: Forex
    description: Checkout.com Foreign Exchange services
  - name: Disputes
    description: Keep track of and act on your open disputes (also known as chargebacks) to submit the best possible response.
  - name: Marketplace
    description: Manage all your sub-entities (also known as sub-merchants) through one integration, globally.
  - name: Sessions
    description: Use Sessions to authenticate transactions with 3D Secure (3DS) and comply with Strong Customer Authentication (SCA) requirements.
  - name: Workflows
    description: Use Workflows to start receiving webhook notifications for your payments, disputes, and marketplace sub-entities.
  - name: Risk
    description: Evaluate the risk of a transaction at the pre-authentication and pre-capture stages of the payment process.
  - name: Apple Pay
    description: Manage your Apple Pay certificates in order to process payments via Apple Pay.
  - name: Transfers
    description: Transfer funds while managing the entities to transfer money to recoup funds from a seller, return money from a refund or to make up the difference when running a promotion.
  - name: Balances
    description: View balances for currency accounts belonging to an entity.

  # - name: Files
  #   description: |
  #     Upload files to be used as input to other APIs

x-tagGroups:
  - name: Set up
    tags:
      - Access
  - name: Handle payments and payouts
    tags:
      - Payments
      - Payment Links
      - Hosted Payments Page
      - Forex
      - Apple Pay
      - Transfers
      - Balances
  - name: Stored payment details
    tags:
      - Tokens
      - Instruments
      - Customers
  - name: Risk management
    tags:
      - Sessions
      - Disputes
      - Risk
  - name: Notifications
    tags:
      - Workflows
  - name: Marketplace
    tags:
      - Marketplace
paths:
  /:
    post:
      tags:
        - Marketplace
      security:
        - OAuth:
            - files
      servers:
        - url: https://files.checkout.com
          description: Production server
        - url: https://files.sandbox.checkout.com
          description: Sandbox server
      summary: Upload a file
      description: >-
        Our <a href="https://checkout.com/docs/four/marketplaces" target="_blank">Marketplace</a> solution provides an easy way to upload identity documentation required for full due diligence. Please <strong>note</strong> that the sub-domain – https://files.checkout.com – is slightly different to Checkout.com's other endpoints. <br><br>Read the <a href="https://checkout.com/docs/four/marketplaces/onboarding/api/full/upload-a-file" target="_blank">documentation</a> for more information.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/MarketplaceFile'
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarketplaceFileUploadResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable
        '429':
          description: Too many requests
  /applepay/certificates:
    post:
      tags:
        - Apple Pay
      security:
        - ApiPublicKey: [ ]
      summary: Upload a payment processing certificate
      description: |
        Upload a payment processing certificate. This will allow you to start processing payments via Apple Pay.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayCertificateRequest'
      responses:
        '201':
          description: Certificate uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePayCertificateResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      x-code-samples:
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('sk_sbox_XXXXX', {\n	pk: 'pk_sbox_XXXXX',\n});\n\ntry {\n	const apple = await cko.applePay.upload({\n		content: 'XXXXXXX', // make sure you escape the characters\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /applepay/signing-requests:
    post:
      tags:
        - Apple Pay
      security:
        - ApiPublicKey: [ ]
      summary: Generate a certificate signing request
      description: |
        Generate a certificate signing request. You'll need to upload this to your Apple Developer account to download a payment processing certificate.
      responses:
        '200':
          description: Generated signing request successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePaySigningRequestResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
      x-code-samples:
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('sk_sbox_XXXXX', {\n	pk: 'pk_sbox_XXXXX',\n});\n\ntry {\n	const apple = await cko.applePay.generate();\n} catch (err) {\n	console.log(err.name);\n}"
  /balances/{id}:
    parameters:
      - $ref: '#/components/parameters/EntityId'
      - $ref: '#/components/parameters/Query'
    get:
      summary: Retrieve entity balances
      description: Use this endpoint to retrieve balances for each currency account belonging to an entity.
      security:
        - OAuth:
            - marketplace
      responses:
        '200':
          description: Balances retrieved successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BalancesResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '400':
          description: Query format not supported
        '401':
          description: Unauthorized
        '404':
          description: Entity not found
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - type: object
                    properties:
                      error_codes:
                        example:
                          - error_code1
                          - error_code2
      tags:
        - Balances
  /connect/token:
    servers:
      - url: https://access.checkout.com
        description: Live API
      - url: https://access.sandbox.checkout.com
        description: Sandbox API
    post:
      summary: Request an access token
      tags:
        - Access
      responses:
        '200':
          description: OK - A successful access token response as per [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.4.3)
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: 2YotnFZFEjr1zCsicMWpAA
                  token_type:
                    type: string
                    example: example
                  expires_in:
                    type: number
                    example: 3600
    
        '400':
          description: Bad request - An unsuccessful access token response as per [RFC6749](https://tools.ietf.org/html/rfc6749#section-4.4.3)
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - invalid_request
                      - invalid_client
                      - invalid_grant
                      - unauthorized_client
                      - unsupported_grant_type
                      - invalid_scope
      description: OAuth endpoint to exchange your access key ID and access key secret for an access token.
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                  enum:
                    - client_credentials
                  example: client_credentials
                client_id:
                  type: string
                  description: 'Access key ID'
                client_secret:
                  type: string
                  description: 'Access key secret'
                scope:
                  type: string
                  description: The access key scope
                  example: gateway
            examples:
              example-1:
                value:
                  grant_type: client_credentials
                  client_id: ack_clckqmmnyfiupexjew7shh5ahe
                  client_secret: Pmg36sDWQ9WxtPR3
      x-code-samples:
        - lang: C#
          source: "// Please refer to https://github.com/checkout/checkout-sdk-net on how to setup the SDK with OAuth\ntry\n{\n    Four.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n        .ClientCredentials(\"client_id\", \"client_secret\")\n        .Scopes(FourOAuthScope.Files, FourOAuthScope.Flow, FourOAuthScope.Fx, FourOAuthScope.Gateway,\n            FourOAuthScope.Marketplace, FourOAuthScope.SessionsApp, FourOAuthScope.SessionsBrowser,\n            FourOAuthScope.Vault, FourOAuthScope.PayoutsBankDetails) // more scopes available\n        .Environment(Environment.Sandbox)\n        .FilesEnvironment(Environment.Sandbox)\n        .Build();\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: cURL
          source: "curl --location --request POST 'https://access.checkout.com/connect/token'\n  --header 'Content-Type: application/x-www-form-urlencoded'\n  --header 'Authorization: Basic dGVzdC1hY2Nlc3Mta2V5LWlkOnRlc3QtYWNjZXNzLWtleS1zZWNyZXQ='\n  --data-urlencode 'grant_type=client_credentials'\n  --data-urlencode 'scope=gateway'"
        - lang: Java
          source: "// Please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.FourOAuthScope;\nimport com.checkout.four.CheckoutApi;\n\n// SDK instantiation for OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FILES, FourOAuthScope.FLOW, FourOAuthScope.FX, FourOAuthScope.GATEWAY,\n        FourOAuthScope.MARKETPLACE, FourOAuthScope.SESSIONS_APP, FourOAuthScope.SESSIONS_BROWSER,\n        FourOAuthScope.VAULT, FourOAuthScope.PAYOUTS_BANK_DETAILS) // more scopes available\n    .build();"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nconst cko = new Checkout();\n\ntry {\n	const access_token = await cko.access.request({\n		grant_type: 'client_credentials',\n		client_id: 'ack_XXXX',\n		client_secret: 'XXXXX',\n		scope: 'gateway',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /customers:
    post:
      tags:
        - Customers
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: []
      summary: Create a customer
      description: >
        <a href="https://www.checkout.com/docs/four/payments/store-payment-details/customers" target="_blank">Store a customer's details in a customer object to reuse in future payments</a>. When creating a customer, you can link payment instruments – the customer `id` returned can be passed as a source when making a payment.
        <br/><br>
        **NOTE:** Specify a `default` instrument, otherwise the `instruments` array will not be saved on creation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreCustomerRequest'
      responses:
        '201':
          description: Customer created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreCustomerResponse'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal Error
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.Four.CustomerRequest;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    IdResponse response = api.CustomersClient().Create(request).Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.Phone;\nimport com.checkout.common.four.IdResponse;\nimport com.checkout.customers.four.CustomerRequest;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\nCustomerRequest request = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"415 555 2671\").build())\n    .instruments(Arrays.asList(\"instrument_id_1\", \"instrument_id_2\"))\n    .metadata(new HashMap<>())\n    .build();\n\ntry {\n    IdResponse response = api.customersClient().create(request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.create({\n		email: 'JohnTest@test.com',\n		name: 'John Test',\n		phone: {\n			country_code: '+1',\n			number: '4155552671',\n		},\n		metadata: {\n			coupon_code: 'NY2018',\n			partner_id: 123989,\n		},\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /customers/{identifier}:
    get:
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: [ ]
      tags:
        - Customers
      summary: Get customer details
      description: Returns the details of a customer and their payment instruments.
      parameters:
        - in: path
          name: identifier
          required: true
          description: The customer's ID or email
          schema:
            type: string
            properties:
              id:
                type: string
                pattern: "^(cus)_(\\w{26})$"
              email:
                type: string
                format: email
                maxLength: 255
            additionalProperties: false
            oneOf:
              - required: [ id ]
              - required: [ email ]
      responses:
        '200':
          description: Customer retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RetrieveCustomerResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Customer not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Customers;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    CustomerDetailsResponse response = api.CustomersClient().Get(\"customer_id\").Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.customers.four.CustomerResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\ntry {\n    CustomerResponse response = api.customersClient().get(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.get('cus_2tvaccfvs3lulevzg42vgyvtdq');\n} catch (err) {\n	console.log(err.name);\n}"
    patch:
      tags:
        - Customers
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: [ ]
      summary: Update customer details
      description: Update the details of a customer and link payment instruments to them.
      parameters:
        - in: path
          name: identifier
          schema:
            type: string
            pattern: "^(cus)_(\\w{26})$"
          required: true
          description: The customer's ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerDetailsRequest'
      responses:
        '204':
          description: Customer updated successfully
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '404':
          description: Customer not found
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\nusing CustomerRequest = Checkout.Customers.Four.CustomerRequest;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nCustomerRequest request = new CustomerRequest\n{\n    Email = \"email@docs.checkout.com\",\n    Name = \"FirstName LastName\",\n    Phone = new Phone\n    {\n        CountryCode = \"1\",\n        Number = \"4155552671\"\n    },\n    Metadata = new Dictionary<string, object>()\n    {\n        {\"coupon_code\", \"NY2018\"},\n        {\"partner_id\", \"123989\"}\n    }\n};\n\ntry\n{\n    await api.CustomersClient().Update(\"customer_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\n\n\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.Phone;\nimport com.checkout.customers.four.CustomerRequest;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\nCustomerRequest customerRequest = CustomerRequest.builder()\n    .email(\"email@docs.checkout.com\")\n    .name(\"name\")\n    .phone(Phone.builder().countryCode(\"1\").number(\"4155552671\").build())\n    .instruments(Arrays.asList(\"instrument_id_1\", \"instrument_id_2\"))\n    .metadata(new HashMap<>())\n    .build();\n\ntry {\n    api.customersClient().update(\"customer_id\", customerRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.update('cus_2tvaccfvs3lulevzg42vgyvtdq', {\n		name: 'James Bond',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
    delete:
      tags:
        - Customers
      security:
        - OAuth:
            - vault
            - vault:customers
        - ApiSecretKey: [ ]
      summary: Delete a customer
      description: Delete a customer and all of their linked payment instruments.
      parameters:
        - in: path
          name: identifier
          required: true
          schema:
            type: string
            pattern: "^(cus)_(\\w{26})$"
          description: The customer's ID
      responses:
        '204':
          description: Customer deleted successfully
        '401':
          description: Unauthorized
        '404':
          description: Customer not found or not associated with client
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Vault)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    await api.CustomersClient().Delete(\"customer_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.GATEWAY) // more scopes available\n    .build();\n\ntry {\n    api.customersClient().delete(\"customer_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const customerResponse = await cko.customers.delete('cus_2tvaccfvs3lulevzg42vgyvtdq');\n} catch (err) {\n	console.log(err.name);\n}"
  /disputes:
    get:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:view
        - ApiSecretKey: [ ]
      summary: Get disputes
      description: >-
        Returns a list of all disputes against your business. The results will be
        returned in reverse chronological order, showing the last modified dispute
        (for example, where you've recently added a piece of evidence) first. You
        can use the optional parameters below to skip or limit results.
      parameters:
        - in: query
          name: limit
          schema:
            type: integer
            minimum: 1
            maximum: 250
            default: 50
          required: false
          description: The numbers of results to return
        - in: query
          name: skip
          schema:
            type: integer
            minimum: 0
            default: 0
          required: false
          description: The number of results to skip
        - in: query
          name: from
          schema:
            type: string
            format: ISO-8601
          required: false
          description: The date and time from which to filter disputes, based on the dispute's
            `last_update` field
        - in: query
          name: to
          schema:
            type: string
            format: ISO-8601
          required: false
          description: The date and time until which to filter disputes, based on the dispute's
            `last_update` field
        - in: query
          name: id
          schema:
            type: string
          required: false
          description: The unique identifier of the dispute
        - in: query
          name: entity_ids
          schema:
            type: string
            example: 'ent_wxglze3wwywujg4nna5fb7ldli,ent_vkb5zcy64zoe3cwfmaqvqyqyku'
          required: false
          description: One or more comma-separated client entities. This works like a logical *OR*
            operator
        - in: query
          name: sub_entity_ids
          schema:
            type: string
            example: 'ent_uzm3uxtssvmuxnyrfdffcyjxeu,ent_hy5wtzwzeuwefmsnjtdhw4scfi'
          required: false
          description: One or more comma-separated sub-entities. This works like a logical *OR*
            operator
        - in: query
          name: statuses
          schema:
            type: string
            example: 'evidence_required,evidence_under_review'
          required: false
          description: One or more comma-separated statuses. This works like a logical *OR*
            operator
        - in: query
          name: payment_id
          schema:
            type: string
          required: false
          description: The unique identifier of the payment
        - in: query
          name: payment_reference
          schema:
            type: string
          required: false
          description: An optional reference (such as an order ID) that you can use later to identify the payment. Previously known as `TrackId`
        - in: query
          name: payment_arn
          schema:
            type: string
          required: false
          description: The acquirer reference number (ARN) that you can use to query the
            issuing bank
        - in: query
          name: payment_mcc
          schema:
            type: string
          required: false
          description: The merchant category code (MCC) of the payment (ISO 18245)
        - in: query
          name: this_channel_only
          schema:
            type: boolean
          required: false
          description:
            If `true`, only returns disputes of the specific channel that the secret key is associated with. Otherwise, returns all disputes for that
            business
      responses:
        '200':
          description: Disputes retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DisputePaged'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable paging
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PagingError'
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes.Four;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nDisputesQueryFilter request = new DisputesQueryFilter\n{\n    Limit = 250,\n    To = DateTime.Now,\n};\n\ntry\n{\n    DisputesQueryResponse response = api.DisputesClient().Query(request).Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.DisputeStatus;\nimport com.checkout.disputes.four.DisputesQueryFilter;\nimport com.checkout.disputes.four.DisputesQueryResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\nDisputesQueryFilter query = DisputesQueryFilter.builder()\n    .paymentId(\"payment_id\")\n    .from(LocalDateTime.now().minusYears(2).toInstant(ZoneOffset.UTC))\n    .to(Instant.now())\n    .paymentArn(\"payment_arn\")\n    .paymentReference(\"payment_reference\")\n    .statuses(String.join(\",\", DisputeStatus.EVIDENCE_UNDER_REVIEW.getStatus(), DisputeStatus.ARBITRATION_WON.getStatus()))\n    .limit(10)\n    .skip(5)\n    .build();\n\ntry {\n    DisputesQueryResponse response = api.disputesClient().query(query).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const disputes = await cko.disputes.get({\n		limit: 5,\n		id: 'dsp_bc94ebda8d275i461229',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /disputes/{dispute_id}:
    get:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:view
        - ApiSecretKey: [ ]
      summary: Get dispute details
      description: Returns all the details of a dispute using the dispute identifier.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\\w{26})$'
          required: true
          description: The dispute identifier
      responses:
        '200':
          description: Dispute retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dispute'
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes.Four;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    DisputeDetailsResponse response = api.DisputesClient().GetDisputeDetails(\"disputes_id\").Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.four.DisputeDetailsResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\ntry {\n    DisputeDetailsResponse response = api.disputesClient().getDisputeDetails(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const disputeDetails = await cko.disputes.getDetails('dsp_bc94ebda8d275i461229');\n} catch (err) {\n	console.log(err.name);\n}"
  /disputes/{dispute_id}/accept:
    post:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:accept
        - ApiSecretKey: [ ]
      summary: Accept dispute
      description: >-
        If a dispute is legitimate, you can choose to accept it. This will close it
        for you and remove it from your list of open disputes. There are no further
        financial implications.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\w{26})$'
          required: true
          description: The dispute identifier
      responses:
        '204':
          description: Dispute accepted successfully
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    await api.DisputesClient().Accept(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\ntry {\n    api.disputesClient().accept(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}\n"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const accept = await cko.disputes.accept('dsp_bc94ebda8d275i461229');\n} catch (err) {\n	console.log(err.name);\n}"
  /disputes/{dispute_id}/evidence:
    put:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:provide-evidence
        - ApiSecretKey: [ ]
      summary: Provide dispute evidence
      description: >
        Adds supporting evidence to a dispute. Before using this endpoint, you first
        need to [upload your files](#tag/Disputes/paths/~1files/post) using the file
        uploader. You will receive a file id (prefixed by `file_`) which you can
        then use in your request.
        Note that this only attaches the evidence to the dispute, it does not send
        it to us. Once ready, you will need to submit it.
        **You must provide at least one evidence type in the body of your request.**
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\w{26})$'
          required: true
          description: The dispute identifier
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProvideEvidenceRequest'
      responses:
        '204':
          description: Dispute evidence provided successfully
        '400':
          description: Unprocessable
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
        '422':
          description: Unprocessable entity
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nDisputeEvidenceRequest request = new DisputeEvidenceRequest()\n{\n    ProofOfDeliveryOrServiceFile = \"file_xxxxxx\",\n    ProofOfDeliveryOrServiceText = \"proof of delivery or service text\",\n    InvoiceOrReceiptFile = \"file_xxxxxx\",\n    InvoiceOrReceiptText = \"Copy of the invoice\",\n    CustomerCommunicationFile = \"file_xxxxxx\",\n    CustomerCommunicationText = \"Copy of an email exchange with the cardholder\",\n    AdditionalEvidenceFile = \"file_xxxxxx\",\n    AdditionalEvidenceText = \"Scanned document\"\n};\n\ntry\n{\n    await api.DisputesClient().PutEvidence(\"disputes_id\", request);\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.four.DisputeEvidenceRequest;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\nDisputeEvidenceRequest evidenceRequest = DisputeEvidenceRequest.builder()\n    .proofOfDeliveryOrServiceFile(\"file_id\")\n    .proofOfDeliveryOrServiceText(\"proof of delivery or service text\")\n    .invoiceOrReceiptFile(\"file_id\")\n    .invoiceOrReceiptText(\"Copy of the invoice\")\n    .invoiceShowingDistinctTransactionsFile(\"file_id\")\n    .invoiceShowingDistinctTransactionsText(\"Copy of invoice #1244 showing two transactions\")\n    .customerCommunicationFile(\"file_id\")\n    .customerCommunicationText(\"Copy of an email exchange with the cardholder\")\n    .refundOrCancellationPolicyFile(\"file_id\")\n    .refundOrCancellationPolicyText(\"Copy of the refund policy\")\n    .recurringTransactionAgreementFile(\"file_id\")\n    .recurringTransactionAgreementText(\"Copy of the recurring transaction agreement\")\n    .additionalEvidenceFile(\"file_id\")\n    .additionalEvidenceText(\"Scanned document\")\n    .proofOfDeliveryOrServiceDateFile(\"file_id\")\n    .proofOfDeliveryOrServiceDateText(\"Copy of the customer receipt showing the merchandise was delivered on 2018-12-20\")\n    .build();\n\ntry {\n    api.disputesClient().putEvidence(\"dispute_id\", evidenceRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const evidence = await cko.disputes.provideEvidence('dsp_bc94ebda8d275i461229', {\n		proof_of_delivery_or_service_text: 'http://checkout.com/document.pdf',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
    get:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:view
        # - ApiKey: []
      summary: Get dispute evidence
      description: >
        Retrieves a list of the evidence submitted in response to a specific
        dispute.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\w{26})$'
          required: true
          description: The dispute identifier
      responses:
        '200':
          description: Dispute evidence retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Evidence'
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Disputes;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    DisputeEvidenceResponse response = api.DisputesClient().GetEvidence(\"disputes_id\").Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.disputes.four.DisputeEvidenceResponse;\nimport com.checkout.four.CheckoutApi;\n\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\ntry {\n    DisputeEvidenceResponse response = api.disputesClient().getEvidence(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const getEvidence = await cko.disputes.getEvidence('dsp_bc94ebda8d275i461229');\n} catch (err) {\n	console.log(err.name);\n}"
    post:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:provide-evidence
        # - ApiKey: []
      summary: Submit dispute evidence
      description: >-
        With this final request, you can submit the evidence that you have
        previously provided. Make sure you have provided all the relevant
        information before using this request. You will not be able to amend your
        evidence once you have submitted it.
      parameters:
        - in: path
          name: dispute_id
          schema:
            type: string
            pattern: '^(dsp)_(\w{26})$'
          required: true
          description: The dispute identifier
      responses:
        '204':
          description: Dispute evidence submitted successfully
        '401':
          description: Unauthorized
        '404':
          description: Dispute not found
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    await api.DisputesClient().SubmitEvidence(\"disputes_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.DISPUTES) // more scopes available\n    .build();\n\ntry {\n    api.disputesClient().submitEvidence(\"dispute_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const submitEvidence = await cko.disputes.submit('dsp_bc94ebda8d275i461229');\n} catch (err) {\n	console.log(err.name);\n}"
  /files:
    post:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:provide-evidence
        - ApiSecretKey: [ ]
      summary: Upload file
      description: >-
        Upload a file to use as evidence in a dispute. Your file must be in either
        JPEG/JPG, PNG or PDF format, and be no larger than 4MB.
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: '#/components/schemas/File'
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable
        '429':
          description: Too many requests
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Common;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    IdResponse response = api.DisputesClient().SubmitFile(\"file_path\", \"dispute_evidence\").Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.FilePurpose;\nimport com.checkout.common.FileRequest;\nimport com.checkout.common.IdResponse;\nimport com.checkout.four.CheckoutApi;\nimport org.apache.http.entity.ContentType;\nimport java.io.File;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FILES) // more scopes available\n    .build();\n\nFile file = new File(\"evidence.pdf\");\nFileRequest fileRequest = FileRequest.builder()\n    .file(file)\n    .contentType(ContentType.create(\"application/pdf\"))\n    .purpose(FilePurpose.DISPUTE_EVIDENCE)\n    .build();\n\ntry {\n    IdResponse response = api.disputesClient().uploadFile(fileRequest).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const file = await cko.files.upload({\n		path: fs.createReadStream('./test/files/evidence.jpg'),\n		purpose: 'dispute_evidence',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /files/{file_id}:
    get:
      tags:
        - Disputes
      security:
        - OAuth:
            - disputes
            - disputes:view
        - ApiSecretKey: [ ]
      summary: Get file information
      description: Retrieve information about a file that was previously uploaded.
      parameters:
        - in: path
          name: file_id
          schema:
            type: string
          required: true
          description: The file identifier. It is always prefixed by `file_`.
      responses:
        '200':
          description: File information retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileResult'
          headers:
            Cko-Request-Id:
              $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: File not found
        '429':
          description: Too many requests or duplicate request detected
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Files;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.Disputes)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    FileDetailsResponse response = api.DisputesClient().GetFileDetails(\"file_id\").Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.common.FileDetailsResponse;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FILES) // more scopes available\n    .build();\n\ntry {\n    FileDetailsResponse response = api.disputesClient().getFileDetails(\"file_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	const getFile = await cko.files.getFile('file_zna32sccqbwevd3ldmejtplbhu');\n} catch (err) {\n	console.log(err.name);\n}"
  /workflows:
    get:
      servers:
        - url: https://api.checkout.com
          description: Live API
        - url: https://api.sandbox.checkout.com
          description: Sandbox API
      security:
        - OAuth:
            - flow
            - flow:workflows
        - ApiSecretKey: [ ]
      tags:
        - Workflows
      summary: Get all workflows
      description: |
        Get all workflows
      responses:
        '200':
          description: Workflows retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-all-workflows-response'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '500':
          description: Internal Error
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.FlowWorkflows)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    GetWorkflowsResponse response = api.WorkflowsClient().GetWorkflows().Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\nimport com.checkout.workflows.four.GetWorkflowsResponse;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FLOW, FourOAuthScope.FLOW_WORKFLOWS, FourOAuthScope.FLOW_EVENTS) // more scopes available\n    .build();\n\ntry {\n    GetWorkflowsResponse response = api.workflowsClient().getWorkflows().get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	let workflows = await cko.workflows.getAll();\n} catch (err) {\n	console.log(err.name);\n}"
    post:
      servers:
        - url: https://api.checkout.com
          description: Live API
        - url: https://api.sandbox.checkout.com
          description: Sandbox API
      security:
        - OAuth:
            - flow
            - flow:workflows
        - ApiSecretKey: [ ]
      tags:
        - Workflows
      summary: Add a workflow
      description: |
        Add a new Flow workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-workflow-request'
      responses:
        '201':
          description: Workflow added successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/add-workflow-response'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '422':
          description: Invalid data was sent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
        '500':
          description: Internal Error
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Workflows.Four;\nusing Checkout.Workflows.Four.Actions;\nusing Checkout.Workflows.Four.Actions.Request;\nusing Checkout.Workflows.Four.Conditions.Request;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.FlowWorkflows)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nCreateWorkflowRequest request = new CreateWorkflowRequest\n{\n    Name = \"Webhooks workflow\",\n    Conditions = new List<WorkflowConditionRequest>()\n    {\n        new EventWorkflowConditionRequest()\n        {\n            Events = new Dictionary<string, ISet<string>>()\n            {\n                {\n                    \"gateway\", new HashSet<string>()\n                    {\n                        \"payment_approved\",\n                        \"payment_declined\",\n                        \"card_verification_declined\",\n                        \"card_verified\",\n                        \"payment_authorization_incremented\",\n                        \"payment_authorization_increment_declined\",\n                        \"payment_capture_declined\",\n                        \"payment_captured\",\n                        \"payment_refund_declined\",\n                        \"payment_refunded\",\n                        \"payment_void_declined\",\n                        \"payment_voided\"\n                    }\n                },\n                {\n                    \"dispute\", new HashSet<string>()\n                    {\n                        \"dispute_canceled\",\n                        \"dispute_evidence_required\",\n                        \"dispute_expired\",\n                        \"dispute_lost\",\n                        \"dispute_resolved\",\n                        \"dispute_won\"\n                    }\n                }\n            }\n        },\n        new EntityWorkflowConditionRequest()\n        {\n            Entities = new List<string>()\n            {\n                \"ent_xyfdshfudosfdshfdiosfds\",\n                \"ent_fidjosfjdisofdjsifdosfu\"\n            }\n        },\n        new ProcessingChannelWorkflowConditionRequest()\n        {\n            ProcessingChannels = new List<string>()\n            {\n                \"pc_axclravnqf5u5ejkweijnp5zc4\"\n            }\n        }\n    },\n    Actions = new List<WorkflowActionRequest>()\n    {\n        new WebhookWorkflowActionRequest()\n        {\n            Url = \"https://example.com/webhooks\",\n            Headers = new Dictionary<string, string>()\n            {\n                {\"Authorization\", \"70ed20ff-ba31-4ea3-b3ef-772f2be1cbdf\"}\n            },\n            Signature = new WebhookSignature()\n            {\n                Method = \"HMACSHA256\",\n                Key = \"8V8x0dLK%AyD*DNS8JJr\"\n            }\n        }\n    }\n};\n\ntry\n{\n    CreateWorkflowResponse response = api.WorkflowsClient().CreateWorkflow(request).Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\nimport com.checkout.workflows.four.CreateWorkflowRequest;\nimport com.checkout.workflows.four.CreateWorkflowResponse;\nimport com.checkout.workflows.four.actions.WebhookSignature;\nimport com.checkout.workflows.four.actions.request.WebhookWorkflowActionRequest;\nimport com.checkout.workflows.four.conditions.request.EntityWorkflowConditionRequest;\nimport com.checkout.workflows.four.conditions.request.EventWorkflowConditionRequest;\nimport com.checkout.workflows.four.conditions.request.ProcessingChannelWorkflowConditionRequest;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FLOW, FourOAuthScope.FLOW_WORKFLOWS, FourOAuthScope.FLOW_EVENTS) // more scopes available\n    .build();\n\nWebhookWorkflowActionRequest workflowActionRequest = WebhookWorkflowActionRequest.builder()\n    .url(\"https://docs.checkout.com/webhook\")\n    .headers(new HashMap<>())\n    .signature(WebhookSignature.builder().key(\"8V8x0dLK%AyD*DNS8JJr\").method(\"HMACSHA256\").build())\n    .build();\n\nEventWorkflowConditionRequest condition1 = EventWorkflowConditionRequest.builder()\n    .events(new HashMap<>())\n    .build();\n\nEntityWorkflowConditionRequest condition2 = EntityWorkflowConditionRequest.builder()\n    .entities(Collections.singletonList(\"workflow_entity_id\"))\n    .build();\n\nProcessingChannelWorkflowConditionRequest condition3 = ProcessingChannelWorkflowConditionRequest.builder()\n    .processingChannels(Collections.singletonList(\"processing_channel_id\"))\n    .build();\n\nCreateWorkflowRequest request = CreateWorkflowRequest.builder()\n    .name(\"name\")\n    .actions(Collections.singletonList(workflowActionRequest))\n    .conditions(Arrays.asList(condition1, condition2, condition3))\n    .build();\n\ntry {\n    CreateWorkflowResponse response = api.workflowsClient().createWorkflow(request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	let workflows = await cko.workflows.add({\n		name: 'Webhooks workflow',\n		conditions: [\n			{\n				type: 'event',\n				events: {\n					gateway: ['payment_approved', 'payment_declined'],\n				},\n			},\n			{\n				type: 'entity',\n				entities: ['ent_djigcqx4clmufo2sasgomgpqsq'],\n			},\n			{\n				type: 'processing_channel',\n				processing_channels: ['pc_zs5fqhybzc2e3jmq3efvybybpq'],\n			},\n		],\n		actions: [\n			{\n				type: 'webhook',\n				url: 'https://example.com/webhooks',\n				headers: {\n					Authorization: '70ed20ff-ba31-4ea3-b3ef-772f2be1cbdf',\n				},\n				signature: {\n					method: 'HMACSHA256',\n					key: '8V8x0dLK%AyD*DNS8JJr',\n				},\n			},\n		],\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /workflows/{workflowId}:
    get:
      servers:
        - url: https://api.checkout.com
          description: Live API
        - url: https://api.sandbox.checkout.com
          description: Sandbox API
      security:
        - OAuth:
            - flow
            - flow:workflows
        - ApiSecretKey: [ ]
      tags:
        - Workflows
      summary: Get a workflow
      description: |
        Get the details of a workflow
      parameters:
        - in: path
          name: workflowId
          schema:
            type: string
            pattern: ^wf_[a-z0-9]{26}$
          required: true
          description: The workflow identifier
          example: wf_c7svxlvo2bbuva4f6s3xu4f7wm
      responses:
        '200':
          description: Workflow retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/get-workflow-response'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Workflow not found
        '500':
          description: Internal Error
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Workflows.Four;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.FlowWorkflows)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    GetWorkflowResponse response = api.WorkflowsClient().GetWorkflow(\"workflow_id\").Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\nimport com.checkout.workflows.four.GetWorkflowResponse;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FLOW, FourOAuthScope.FLOW_WORKFLOWS, FourOAuthScope.FLOW_EVENTS) // more scopes available\n    .build();\n\ntry {\n    GetWorkflowResponse response = api.workflowsClient().getWorkflow(\"workflow_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	let workflows = await cko.workflows.get('wf_5zm7uccsc6bencaujumvutvfem');\n} catch (err) {\n	console.log(err.name);\n}"
    delete:
      servers:
        - url: https://api.checkout.com
          description: Live API
        - url: https://api.sandbox.checkout.com
          description: Sandbox API
      security:
        - OAuth:
            - flow
            - flow:workflows
        - ApiSecretKey: [ ]
      tags:
        - Workflows
      summary: Remove a workflow
      description: |
        Removes a workflow so it is no longer being executed.
        Actions of already executed workflows will be still processed.
      parameters:
        - in: path
          name: workflowId
          schema:
            type: string
            pattern: ^wf_[a-z0-9]{26}$
          required: true
          description: The workflow identifier
          example: wf_c7svxlvo2bbuva4f6s3xu4f7wm
      responses:
        '204':
          description: Workflow removed successfully
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Workflow not found
        '500':
          description: Internal Error
    
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.FlowWorkflows)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\ntry\n{\n    await api.WorkflowsClient().RemoveWorkflow(\"workflow_id\");\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FLOW, FourOAuthScope.FLOW_WORKFLOWS, FourOAuthScope.FLOW_EVENTS) // more scopes available\n    .build();\n\ntry {\n    api.workflowsClient().removeWorkflow(\"workflow_id\").get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	let workflows = await cko.workflows.remove('wf_rou7m32mhmyeblg4xebx5pueoi');\n} catch (err) {\n	console.log(err.name);\n}"
    patch:
      servers:
        - url: https://api.checkout.com
          description: Live API
        - url: https://api.sandbox.checkout.com
          description: Sandbox API
      security:
        - OAuth:
            - flow
            - flow:workflows
        - ApiSecretKey: [ ]
      tags:
        - Workflows
      summary: Patch a workflow
      description: |
        Update the name of a workflow.
      parameters:
        - in: path
          name: workflowId
          schema:
            type: string
            pattern: ^wf_[a-z0-9]{26}$
          required: true
          description: The workflow identifier
          example: wf_c7svxlvo2bbuva4f6s3xu4f7wm
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/patch-workflow-request'
      responses:
        '200':
          description: Workflow updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/patch-workflow-response'
          headers:
            Cko-Request-Id:
              schema:
                $ref: '#/components/headers/Cko-Request-Id'
            Cko-Version:
              schema:
                $ref: '#/components/headers/Cko-Version'
        '401':
          description: Unauthorized
        '404':
          description: Workflow not found
        '500':
          description: Internal Error
      x-code-samples:
        - lang: C#
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-net\nusing Checkout.Workflows.Four;\n\n//API keys\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().StaticKeys()\n    .PublicKey(\"public_key\")\n    .SecretKey(\"secret_key\")\n    .Environment(Environment.Sandbox)\n    .HttpClientFactory(new DefaultHttpClientFactory())\n    .Build();\n\n//OAuth\nFour.ICheckoutApi api = CheckoutSdk.FourSdk().OAuth()\n    .ClientCredentials(\"client_id\", \"client_secret\")\n    .Scopes(FourOAuthScope.FlowWorkflows)\n    .Environment(Environment.Sandbox)\n    .FilesEnvironment(Environment.Sandbox)\n    .Build();\n\nUpdateWorkflowRequest request = new UpdateWorkflowRequest {Name = \"workflow_name\"};\n\ntry\n{\n    UpdateWorkflowResponse response = api.WorkflowsClient().UpdateWorkflow(\"workflow_id\", request).Result;\n}\ncatch (CheckoutApiException e)\n{\n    // API error\n    string requestId = e.RequestId;\n    var statusCode = e.HttpStatusCode;\n    IDictionary<string, object> errorDetails = e.ErrorDetails;\n}\ncatch (CheckoutArgumentException e)\n{\n    // Bad arguments\n}\ncatch (CheckoutAuthorizationException e)\n{\n    // Invalid authorization\n}"
        - lang: Java
          source: "// For more information please refer to https://github.com/checkout/checkout-sdk-java\nimport com.checkout.CheckoutApiException;\nimport com.checkout.CheckoutArgumentException;\nimport com.checkout.CheckoutAuthorizationException;\nimport com.checkout.CheckoutSdk;\nimport com.checkout.Environment;\nimport com.checkout.four.CheckoutApi;\nimport com.checkout.workflows.four.UpdateWorkflowRequest;\nimport com.checkout.workflows.four.UpdateWorkflowResponse;\n\n// API Keys\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .staticKeys()\n    .publicKey(\"public_key\")\n    .secretKey(\"secret_key\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .build();\n\n// OAuth\nCheckoutApi api = CheckoutSdk.fourSdk()\n    .oAuth()\n    .clientCredentials(\"client_id\", \"client_secret\")\n    .environment(Environment.SANDBOX) // or Environment.PRODUCTION\n    .scopes(FourOAuthScope.FLOW, FourOAuthScope.FLOW_WORKFLOWS, FourOAuthScope.FLOW_EVENTS) // more scopes available\n    .build();\n\nUpdateWorkflowRequest request = UpdateWorkflowRequest.builder()\n    .name(\"new name\")\n    .build();\n\ntry {\n    UpdateWorkflowResponse response = api.workflowsClient().updateWorkflow(\"workflow_id\", request).get();\n} catch (CheckoutApiException e) {\n    // API error\n    String requestId = e.getRequestId();\n    int statusCode = e.getHttpStatusCode();\n    Map<String, Object> errorDetails = e.getErrorDetails();\n} catch (CheckoutArgumentException e) {\n    // Bad arguments\n} catch (CheckoutAuthorizationException e) {\n    // Invalid authorization\n}"
        - lang: Node
          source: "import { Checkout } from 'checkout-node-sdk';\n\nlet cko = new Checkout('your_client_secret_here', {\n	client: 'ack_XXXXXXXXXXXX',\n	scope: ['gateway'], // array of scopes\n	environment: 'sandbox', // or \"production\"\n});\n\n// Or if you use api keys:\n// const cko = new Checkout('sk_sbox_XXX', { pk: 'pk_sbox_XXX'}});\n\ntry {\n	let workflows = await cko.workflows.patch('wf_2i7z3lwdoe5uzmomm7yzrytqdy', {\n		name: 'Webhooks workflow updated',\n	});\n} catch (err) {\n	console.log(err.name);\n}"
  /workflows/{workflowId}/actions/{workflowActionId}:
    put:
      servers:
        - url: https://api.checkout.com
          description: Live API
        - url: https://api.sandbox.checkout.com
          description: Sandbox API
      security:
        - OAuth:
            - flow
            - flow:workflows
        - ApiSecretKey: [ ]
      tags:
        - Workflows
      summary: Update a workflow action
      description: |
        Update a workflow action.
      parameters:
        - in: path
          name: workflowId
          schema:
            type: string
            pattern: ^wf_[a-z0-9]{26}$
          required: true
          description: The workflow identifier
          example: wf_c7svxlvo2bbuva4f6s3xu4f7wm
        - in: path
          name: workflowActionId
          schema:
            type: string
            pattern: ^wfa_[a-z0-9]{26}$
          required: true
          description: The workflow action identifier
          example: wfa_d5estuyxzshubhly2wu3hloehi
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/add-update-workflow-action-request'
      responses:
        '200':
[...]
